.mainPageTextSection {
    margin: 130px 80px 50px;
    justify-content: center;
    max-width: 100%;
}

.mainPageTextSection__paragraph {
    padding: 5px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.8;
    text-shadow: 8px 2px 19px rgba(144, 150, 150, 0.39);
    font-family: 'Advent Pro', sans-serif;
}

.mainPageTextSection__decoration {
    background: #F8D7D6;
    height: 10px;
    margin-bottom: 6px;
}

.mainPageTextSection__decoration--shorter {
    background:  #393b3cbb;
    height: 7px;
    width: 80%;
    margin: auto;
}